<div class="container footer-top-margin" inViewport [inViewportOptions]="{ threshold: [0],rootMargin: '-40%' }" (inViewportAction)="onIntersection1($event)">
    <div class="row footer-center-align">
        <div class="col-lg-12">
            <div class="footer-text-align">
                <img class="footer-image" src="assets/images/logo_blue.png">
                <p class="footer-margin">Join the Bank of Hodlers community</p>
                <a class="footer-margin footer-links" href="https://app.bankofhodlers.com " >GET STARTED NOW</a>
            </div>
        </div>      
    </div>
    <div class="row footer-center-align footer-top-margin">
        <div class="col-lg-12 footer-grid-2">
            <a target="_blank" href="http://www.facebook.com/bankofhodlers/">
                <img class="footer-social" src="assets/images/facebook_blue.png">
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/bank-of-hodlers/">
                <img class="footer-social" src="assets/images/instagram_blue.png">
            </a>
            <a target="_blank" href="https://twitter.com/BankofHodlers">
                <img class="footer-social" src="assets/images/twitter_blue.png">
            </a>
            <a target="_blank" href="mailto:contact@bankofhodlers.com">
                <img class="footer-social" src="assets/images/gmail_blue.png">
            </a>
            <a target="_blank" href="https://t.me/BankofHodlers">
                    <img class="footer-social" src="assets/images/telegram_blue.png">
            </a>
            <a target="_blank" href="https://www.reddit.com/r/BankofHodlers/">
                <img class="footer-social" src="assets/images/reddit_blue.png">
            </a>
        </div>
    </div>
    <div class="row footer-center-align footer-margin margin-mobile">
        <div class="col-lg-12">
            <div class="row">
                <div class="footer-grid">
                    <!-- <a target="_blank" class="footer-links footer-nav footer1" href="https://static1.squarespace.com/static/5b129c185b409b722863d640/t/5b880830b8a04546b4df9e64/1535641649254/bitcoin.pdf">WHITE PAPER</a> -->
                    <a target="_blank" class="footer-links footer-nav footer2" routerLink="/faq">FAQs</a>
                    <a target="_blank" class="footer-links footer-nav footer3" href="https://medium.com/bankofhodlers/tagged/inside-boh">INSIDE BOH</a>
                    <a target="_blank" class="footer-links footer-nav footer4" href="https://medium.com/bankofhodlers/bank-of-hodlers-on-the-press-f0d1fa35fb14">PRESS</a>
                    <a target="_blank" class="footer-links footer-nav footer5" href="https://medium.com/bankofhodlers">BLOG</a>
                    <a target="_blank" class="footer-links footer-nav footer6" href="https://medium.com/bankofhodlers/culture-at-bank-of-hodlers-6ebad116acb7">CULTURE</a>
                    <a target="_blank" class="footer-links footer-nav footer7" href="https://medium.com/bankofhodlers/tagged/internal-updates">UPDATES</a>
                    <a target="_blank" class="footer-links footer-nav footer8" href="https://angel.co/company/bank-of-hodlers">CAREERS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-center-align">
        <div class="col-lg-12">
            <img src="assets/images/footer_line.png" class="footer-line">
        </div>
    </div>
    <div class="row footer-center-align footer-margin full-width">
        <div class="col-lg-12 footer-text-align">
            <p class="footer-last-margin">© 2019 Bank of HodlersTM. All rights reserved.</p>
            <p class="footer-last-margin">160 Robinson Road, #14-04 Singapore Business Federation Centre, Singapore 068914 | No. 220, First floor, 2nd Main Rd, Hoysala Nagar, Indiranagar, Bengaluru, India 560038</p>
            <div class="footer-center-align footer-terms">
                <a  routerLink="/terms">Terms and Conditions</a> | <a routerLink="/privacy">Privacy policy</a>
            </div>
        </div>
    </div>
</div>
