.error-main{
    height: 75vh;
    display: flex;
    justify-content: center;
}

.error-contain{
    width: max-content;
    margin: auto;
}

.error-text{
    font-size: var(--main-font-size-sub-header);
    font-family: RobotoThin;
}

.error-img{
    margin: auto;
    display: flex;
    width: 15vh;
    margin-bottom: 5%;
}

.error-link{
    padding: 10px 20px 10px 20px;
    background:var(--main-color); ;
    color:white;
    border-radius: 24px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    width: max-content;
    margin: auto;
    margin-top: 5%;
    font-family: Roboto;
    box-shadow: 5px 10px 20px rgba(30, 144, 255, 0.2);
    text-transform: uppercase;
}


@media screen and (max-width: 770px) {
    .error-text{
        text-align: center;
    }
}

@media screen and (max-width: 575px) {

}